/* Style Settings */

/* karla-regular - latin-ext_latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/karla-v15-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/karla-v15-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/karla-v15-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/karla-v15-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/karla-v15-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/karla-v15-latin-ext_latin-regular.svg#Karla') format('svg'); /* Legacy iOS */
}
:root {
    --font: 'Karla', 'Karla', sans-serif;
}

body {
    background-color: rgb(243, 242, 242);
}

#userPhoto {
    width: 100px;
    height: 100px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 0%;
}

#userName {
    color: rgb(99, 99, 99);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#links {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}

.link {
    display: block;
    background-color: rgb(66, 110, 255);
    color: #fff;
    font-family: var(--font);
    text-align: center;
    margin-bottom: 20px;
    padding: 17px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border: solid var(--accentColor) 2px;
}

.link:hover {
    background-color: #fff;
    color: rgb(66, 110, 255);
    border: solid rgb(66, 110, 255) 2px;
}

.footer {
    text-align: center;
    font-size: 1.3rem;
}

.footer a {
    text-decoration:none;
}

.circulo {
    background: rgb(221, 221, 221);
    border-radius: 52px;
    width: 38px;
    height: 38px;
    text-align: center;
    font-size: 10px;
    color: rgb(32, 32, 32);
}

.circulo:hover {
    background: rgb(66, 110, 255);
    color: rgb(255, 255, 255);
    -webkit-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.77);
    box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.77);
}

.night_mode {
    position: fixed;
    top: 25px;
    right: 30px;
    z-index: 10000000;
    color: #585858;
}

.night_mode:hover {
    cursor: pointer;
}
